---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ahmed-talaat/Android-Arabic-Fonts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Modified:
      - Sun, 01 Feb 2015 15:00:04 GMT
      Etag:
      - W/"da4bb6926e1acf51d718e04e094084ad"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":24902884,"name":"Android-Arabic-Fonts","full_name":"Ahmed-Talaat/Android-Arabic-Fonts","owner":{"login":"Ahmed-Talaat","id":4233007,"avatar_url":"https://avatars.githubusercontent.com/u/4233007?v=3","gravatar_id":"","url":"https://api.github.com/users/Ahmed-Talaat","html_url":"https://github.com/Ahmed-Talaat","followers_url":"https://api.github.com/users/Ahmed-Talaat/followers","following_url":"https://api.github.com/users/Ahmed-Talaat/following{/other_user}","gists_url":"https://api.github.com/users/Ahmed-Talaat/gists{/gist_id}","starred_url":"https://api.github.com/users/Ahmed-Talaat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Ahmed-Talaat/subscriptions","organizations_url":"https://api.github.com/users/Ahmed-Talaat/orgs","repos_url":"https://api.github.com/users/Ahmed-Talaat/repos","events_url":"https://api.github.com/users/Ahmed-Talaat/events{/privacy}","received_events_url":"https://api.github.com/users/Ahmed-Talaat/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Ahmed-Talaat/Android-Arabic-Fonts","description":"A
        simple app showing a collection of Arabic fonts","fork":false,"url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts","forks_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/forks","keys_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/teams","hooks_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/hooks","issue_events_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/issues/events{/number}","events_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/events","assignees_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/assignees{/user}","branches_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/branches{/branch}","tags_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/tags","blobs_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/git/refs{/sha}","trees_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/statuses/{sha}","languages_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/languages","stargazers_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/stargazers","contributors_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/contributors","subscribers_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/subscribers","subscription_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/subscription","commits_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/commits{/sha}","git_commits_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/git/commits{/sha}","comments_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/comments{/number}","issue_comment_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/issues/comments{/number}","contents_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/contents/{+path}","compare_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/merges","archive_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/downloads","issues_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/issues{/number}","pulls_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/pulls{/number}","milestones_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/milestones{/number}","notifications_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/labels{/name}","releases_url":"https://api.github.com/repos/Ahmed-Talaat/Android-Arabic-Fonts/releases{/id}","created_at":"2014-10-07T17:39:26Z","updated_at":"2015-02-01T15:00:04Z","pushed_at":"2014-10-07T18:50:24Z","git_url":"git://github.com/Ahmed-Talaat/Android-Arabic-Fonts.git","ssh_url":"git@github.com:Ahmed-Talaat/Android-Arabic-Fonts.git","clone_url":"https://github.com/Ahmed-Talaat/Android-Arabic-Fonts.git","svn_url":"https://github.com/Ahmed-Talaat/Android-Arabic-Fonts","homepage":null,"size":1232,"stargazers_count":1,"watchers_count":1,"language":"Java","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":1,"default_branch":"master","network_count":0,"subscribers_count":1}'
  recorded_at: Mon, 06 Apr 2015 12:40:05 GMT
- request:
    method: get
    uri: https://api.github.com/users/phonegap-build
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Modified:
   [...]
- request:
    method: get
    uri: https://api.github.com/users/phonegap-build/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1428327605'
      Etag:
      - W/"a0b059d0a05cde227cb0b3a6bfb[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/BarcodeScanner
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1428327605'
      Las[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/BarcodeScanner-Mirror-Test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '142832760[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/ChildBrowser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/confetti
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Modi[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/cordova-lib
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-M[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/cordova-plugin-camera
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1428327605'
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/cordova-plugin-media-capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1428327[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/cordova-plugin-spec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1428327605'
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/cordova-plugin-vibration
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1428327605'[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/cordova-plugman
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1428327605'
      La[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/cordova-seeds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1428327605'
      Last[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/docs-en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Modif[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/docs-fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Modif[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/docs-jp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Modif[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/FacebookConnect
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1428327605'
      La[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/FastCanvas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Mo[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/GAPlugin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Modi[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/intent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Modifi[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/mail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Modified[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/nokogiri-plist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1428327605'
      Las[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/ops
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Modified:[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/pgb-example-camera
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '1428327605'
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/pgb-example-console
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1428327605'
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/pgb-example-inappbrowser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '33'
      X-Ratelimit-Reset:
      - '1428327605'[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/pgb-example-media
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '32'
      X-Ratelimit-Reset:
      - '1428327605'
      [...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/pgb-example-splash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '31'
      X-Ratelimit-Reset:
      - '1428327605'
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/pgb-example-statusbar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1428327605'
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/pgb-example-vibration
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1428327605'
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/pgb-nine-patch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1428327605'
      Las[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/pluginstall
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-M[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/PushPlugin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1428327605'
      Last-Mo[...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/rack-attack-rate-limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1428327605'
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/phonegap-build/StatusBarPlugin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1428327605'
      La[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Vancouver,%20BC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Vancouver",
                       "short_name" : "Vancouver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Greater Vancouver",
                       "short_name" : "Greater Vancouver",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "British Columbia",
                       "short_name" : "BC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Canada",
                       "short_name" : "CA",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Vancouver, BC, Canada",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 49.3140764,
                          "lng" : -123.023068
                       },
                       "southwest" : {
                          "lat" : 49.1998604,
                          "lng" : -123.224759
                       }
                    },
                    "location" : {
                       "lat" : 49.2827291,
                       "lng" : -123.1207375
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 49.3140764,
                          "lng" : -123.023068
                       },
                       "southwest" : {
                          "lat" : 49.1998604,
                          "lng" : -123.224759
                       }
                    }
                 },
                 "place_id" : "ChIJs0-pQ_FzhlQRi_OBm-qWkbs",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 06 Apr 2015 12:40:21 GMT
recorded_with: VCR 2.9.3
