.send_tweet {
  margin-left: 80px;
}

.avatar-bg {
  height: 190px;
  margin-right: 20px;
}

.info p {
  color: #666;
  font-size: 18px;
  font-weight: 500;
}

.table.rank>tbody>tr>td {
  vertical-align: middle;
  text-align: left;
  font-size: 15px;
  border-top: none; 
}

.table.rank {
  margin-bottom: 0px !important;
}